In [1]:
1

1

In [2]:
2

2

In [3]:
1.34

1.34

In [4]:
1 + 1

2

In [5]:
2 - 1

1

In [6]:
1 - 2

-1

In [7]:
3 * 4

12

In [8]:
6 / 2

3.0

In [9]:
3 % 2

1

In [10]:
2 * 2 * 2

8

In [11]:
2 ** 3

8

In [12]:
2 ** 0.5

1.4142135623730951

In [13]:
2 ** (1/2)

1.4142135623730951

In [14]:
7 / 3

2.3333333333333335

In [15]:
7 // 3

2

In [16]:
(2 + 3) * (4 / 10)

2.0

In [17]:
a = 2

In [18]:
print(type(a))

<class 'int'>

In [19]:
complex(1, 2)

(1+2j)

In [20]:
complex(1, 2) + 4

(5+2j)

In [21]:
dsfhks = 30

In [22]:
1num = 20

SyntaxError: invalid syntax (<ipython-input-22-119e6ed7c348>, line 1)

In [24]:
num1 = 30

In [23]:
emp# = 30

NameError: name 'emp' is not defined

In [25]:
my number = 50

SyntaxError: invalid syntax (<ipython-input-25-68dd41620cba>, line 1)

In [26]:
My_number = 50

In [27]:
a = 2.3

In [28]:
type(a)

float

In [29]:
a = int(a)

In [30]:
type(a)

int

In [31]:
int = 30

In [32]:
a = 2.3

In [33]:
type(a)

float

In [34]:
a = int(a)

TypeError: 'int' object is not callable

In [35]:
x = 60000
y = 0.20

z = x * y

print(f'Total tax is {z}')

Total tax is 12000.0

In [36]:
my_salary = 60000
tax_rate = 0.20

total_tax = my_salary * tax_rate

print(f'Total tax is {total_tax}')

Total tax is 12000.0

In [37]:
'string with single quote'

'string with single quote'

In [38]:
"string with double quote"

'string with double quote'

In [39]:
'I'm Iron Man'

SyntaxError: invalid syntax (<ipython-input-39-ef738ec6f1b8>, line 1)

In [40]:
"I'm Iron Man"

"I'm Iron Man"

In [41]:
a = 'abcdef'

In [42]:
a

'abcdef'

In [43]:
print(type(a))

<class 'str'>

In [44]:
print("the symbol to change the line is \n so use it")

the symbol to change the line is
 so use it

In [45]:
print(r"the symbol to change the line is \n so use it")

the symbol to change the line is \n so use it

In [46]:
print("the symbol to change the line is \\n so use it")

the symbol to change the line is \n so use it

In [47]:
s = 'Hello world!'

In [48]:
s

'Hello world!'

In [49]:
s[4]

'o'

In [50]:
s[3:8]

'lo wo'

In [51]:
s[1:10]

'ello worl'

In [53]:
s[1:-2]

'ello worl'

In [54]:
s[1:10:2]

'el ol'

In [55]:
s[-1]

'!'

In [56]:
s[-2]

'd'

In [57]:
s

'Hello world!'

In [58]:
s[::-1]

'!dlrow olleH'

In [59]:
s[-1:0]

''

In [60]:
s[-1:0:-1]

'!dlrow olle'

In [61]:
a

'abcdef'

In [62]:
s

'Hello world!'

In [63]:
a + s

'abcdefHello world!'

In [64]:
a + ' ' + s

'abcdef Hello world!'

In [65]:
a

'abcdef'

In [67]:
s * 5

'Hello world!Hello world!Hello world!Hello world!Hello world!'

In [68]:
print("This is my name: %s" %'Ankush Pandey')

This is my name: Ankush Pandey

In [69]:
print('My first name is %s and my last name is %s' %('Ankush', 'Pandey'))

My first name is Ankush and my last name is Pandey

In [71]:
print('I am %s and my salary is %s' %('Ankush', 60000.98))

I am Ankush and my salary is 60000.98

In [72]:
print('I am %s and my salary is %d' %('Ankush', 60000.98))

I am Ankush and my salary is 60000

In [73]:
print('{}, {}, {}, {}'.format('item1', 'item2', 3, 12.76))

item1, item2, 3, 12.76

In [75]:
print('{0}, {1}, {2}, {3}'.format('item1', 'item2', 3, 12.76))

item1, item2, 3, 12.76

In [76]:
print('{0}, {2}, {3}, {1}'.format('item1', 'item2', 3, 12.76))

item1, 3, 12.76, item2

In [77]:
print('{a}, {c}, {d}, {b}'.format(a = 'item1', b = 'item2', c = 3, d = 12.76))

item1, 3, 12.76, item2

In [78]:
salary = 60000
name = 'Ankush'
#
#
#
#

print(f'My name is {name}, my salry is {salary}')

My name is Ankush, my salry is 60000

In [79]:
[1, 2, 3]

[1, 2, 3]

In [80]:
['hi', 2, 6.7]

['hi', 2, 6.7]

In [81]:
my_list = ['a', 'b', 'c']

In [82]:
my_list

['a', 'b', 'c']

In [83]:
my_list.append(3)

In [84]:
my_list

['a', 'b', 'c', 3]

In [85]:
my_list.append(len)

In [86]:
my_list

['a', 'b', 'c', 3, <function len(obj, /)>]

In [87]:
len('abcdefgh')

8

In [88]:
my_list[-1]('abcdefgh')

8

In [89]:
my_list[0]

'a'

In [90]:
my_list[-2]

3

In [91]:
my_list[1:4]

['b', 'c', 3]

In [92]:
my_list[::2]

['a', 'c', <function len(obj, /)>]

In [93]:
my_list[::-1]

[<function len(obj, /)>, 3, 'c', 'b', 'a']

In [94]:
nest = [1, 2, 3, [4, 5, 6, [7, 8, 9]]]

In [95]:
nest

[1, 2, 3, [4, 5, 6, [7, 8, 9]]]

In [96]:
list_2d = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [97]:
list_2d

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [100]:
list_2d[1][1]

5

In [101]:
d = {'key1':'value1', 'key2':'value2'}

In [102]:
d

{'key1': 'value1', 'key2': 'value2'}

In [103]:
d['key2']

'value2'

In [104]:
d['key3'] = 'value3'

In [105]:
d

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [106]:
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [107]:
d.values()

dict_values(['value1', 'value2', 'value3'])

In [108]:
d.items()

dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3')])

In [109]:
d[[1, 2, 3]] = '400'

TypeError: unhashable type: 'list'

In [110]:
a = [1, 2, 3]

In [111]:
a[1] = 99

In [112]:
a

[1, 99, 3]

In [113]:
a = 'abcd'

In [114]:
a[2]

'c'

In [115]:
a[2] = 'p'

TypeError: 'str' object does not support item assignment

In [116]:
a = (1, 2, 3)

In [117]:
type(a)

tuple

In [118]:
a[1] = 50

TypeError: 'tuple' object does not support item assignment

In [119]:
d[(1, 2, 3)] = '400'

In [120]:
d

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', (1, 2, 3): '400'}

In [121]:
a

(1, 2, 3)

In [122]:
d

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', (1, 2, 3): '400'}

In [125]:
s = {1}

In [126]:
type(s)

set

In [127]:
s = {1, 2, 3, 4}

In [128]:
s

{1, 2, 3, 4}

In [129]:
s = {1, 2, 3, 1, 4, 4, 4, 5, 2, 6, 6}

In [130]:
s

{1, 2, 3, 4, 5, 6}

In [131]:
True

True

In [132]:
False

False

In [133]:
a = True

In [134]:
b = False

In [135]:
a and b

False

In [136]:
1 > 2

False

In [137]:
1 < 2

True

In [138]:
1 >= 1

True

In [139]:
1 > = 1

SyntaxError: invalid syntax (<ipython-input-139-d192686fa588>, line 1)

In [141]:
2 == 3

False

In [142]:
'a' < 'b'

True

In [143]:
'abcd' > 'abce'

False

In [144]:
a = (1 < 2)
b = (1 > 3)

In [145]:
a and b

False

In [146]:
(1 < 2) and (1 > 3)

False

In [147]:
1 < 2 > 0

True

In [ ]:
if(cond){
    
}

In [150]:
if 1 < 2:
    print('correct!')
    print('xyz')
    print('qwert')
    print('qaz')

correct!
xyz
qwert
qaz

In [151]:
if 1 < 2:
    print('first')
else:
    print('second')

first

In [154]:
if 1 > 2:
    print('first')
elif 2 > 3:
    print('second')
elif 3 > 4:
    print('third')
else:
    print('none')

none

In [155]:
a = 30
b = 40
c = 50
if a < b:
    print('first')
else:
    print('second')
elif c > a:
    print('third')

SyntaxError: invalid syntax (<ipython-input-155-100984c65258>, line 8)

In [ ]:
for(i = 0;i < 10;i++)

In [156]:
seq = [0, 1, 2, 3, 4, 5]

In [158]:
for item in seq:
    print(item, ' ', end = '')

0  1  2  3  4  5

In [161]:
seq_str = 'abcdefghij'


for x in seq_str:
    print(x, end = ' ')

a b c d e f g h i j

In [162]:
for i in range(10):
    print('I am hungry2')

I am hungry2
I am hungry2
I am hungry2
I am hungry2
I am hungry2
I am hungry2
I am hungry2
I am hungry2
I am hungry2
I am hungry2

In [164]:
for i in range(5, 10):
    print("I'm hungry")

I'm hungry
I'm hungry
I'm hungry
I'm hungry
I'm hungry

In [165]:
for i in range(4, 10, 2):
    print(i)

4
6
8

In [167]:
for i in range(10, 4, -1):
    print(i)

10
9
8
7
6
5

In [168]:
for i in range(2, 9):
    print(i)
    if i > 5:
        break
        
else:
    print('completed')

2
3
4
5
6

In [169]:
for i in range(2, 9):
    print(i)
#     if i > 10:
#         break
        
else:
    print('completed')

2
3
4
5
6
7
8
completed

In [170]:
i = 1
while i < 5:
    print(f'i is {i}')
    i = i + 1
#     i++

i is 1
i is 2
i is 3
i is 4

In [172]:
i = 1
while i < 10:
    if i >= 7:
        break
    print(f'i is {i}')
    i = i + 1
else:
    print('fully executed!')

i is 1
i is 2
i is 3
i is 4
i is 5
i is 6

In [173]:
i = 1
while i < 10:
    if i >= 17:
        break
    print(f'i is {i}')
    i = i + 1
else:
    print('fully executed!')

i is 1
i is 2
i is 3
i is 4
i is 5
i is 6
i is 7
i is 8
i is 9
fully executed!

In [174]:
x = [1, 2, 3, 4, 5]

In [175]:
y = []

for item in x:
    y.append(item**2)
print(y)

[1, 4, 9, 16, 25]

In [176]:
y = [item**2 for item in x]
y

[1, 4, 9, 16, 25]

In [177]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [178]:
# y = [odd, even, odd, even, odd, even, odd...]

In [179]:
y = []

for item in x:
    if item %2 == 0:
        y.append('even')
    else:
        y.append('odd')
        
print(y)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [180]:
y = ['even' if item%2 == 0 else 'odd' for item in x]
print(y)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [183]:
def my_func(param1 = 'default'):
    print('hello world')
    print(param1)

In [184]:
my_func('bye!')

hello world
bye!

In [185]:
my_func

In [186]:
my_func()

hello world
default

In [187]:
def square(x):
    return x**2

In [188]:
square(20)

400

In [189]:
out_sqr = square

In [190]:
out_sqr(20)

400

In [191]:
out_sqr

In [192]:
def two_times(item):
    return 2*item

In [193]:
two_times(30)

60

In [194]:
def two_times(item): return 2 * item

In [195]:
two_times(30)

60

In [196]:
(lambda item: 2*item)(30)

60

In [198]:
(lambda x, y: (x+y, x-y))(6, 4)

(10, 2)

In [199]:
add_sub = lambda x, y: (x+y, x - y)

In [200]:
add_sub

In [201]:
add_sub(6, 4)

(10, 2)

In [1]:
seq = [1, 2, 3, 4, 5]

In [203]:
list(map(square, seq))

[1, 4, 9, 16, 25]

In [204]:
list(map(lambda item: item**2, seq))

[1, 4, 9, 16, 25]

In [205]:
seq

[1, 2, 3, 4, 5]

In [206]:
[item for item in seq if item%2 == 0]

[2, 4]

In [207]:
def iseven(item):
    return item % 2 == 0

In [208]:
list(filter(iseven, seq))

[2, 4]

In [209]:
list(filter(lambda item: item%2==0, seq))

[2, 4]

In [1]:
lst = [1, 2, 3]

In [2]:
print(type(lst))

<class 'list'>

In [3]:
class Sample:
    pass

In [4]:
x = Sample()

In [5]:
print(type(x))

<class '__main__.Sample'>

In [6]:
class Dog:
    def __init__(self, breed):
        self.breed = breed

In [7]:
sam = Dog(breed = 'Lab')

In [8]:
frank = Dog(breed = 'Huskie')

In [9]:
sam.breed

'Lab'

In [10]:
frank.breed

'Huskie'

In [11]:
class Dog:
    def __init__(self, breed, name):
        self.breed = breed
        self.name = name

In [12]:
sam = Dog('Lab', 'Sam')

In [13]:
sam

In [14]:
sam.name

'Sam'

In [15]:
class Circle:
    pi = 3.14
    
    def __init__(self, radius = 1):
        self.radius = radius
        self.area = Circle.pi * self.radius * self.radius
        
    def setRadius(self, new_radius):
        self.radius = new_radius
        self.area = Circle.pi * self.radius * self.radius
        
    def getCircum(self):
        return self.radius * self.pi * 2

In [16]:
c = Circle(3)

In [17]:
c.radius

3

In [18]:
c.area

28.259999999999998

In [19]:
c.setRadius(8)

In [20]:
c.radius

8

In [21]:
c.getCircum()

50.24

In [25]:
class Animal:
    def __init__(self):
        print("animal created")
        self.attr1 = 10
        
    def whoIam(self):
        print('Animal')
        
    def eat(self):
        print('eating!')

In [26]:
class Dog(Animal):
    def __init__(self):
        print("Dog created")
        Animal.__init__(self)
        self.attr2 = 20
        
    def whoIam(self):
        print('A Dog')
        
    def bark(self):
        print('Woof! Woof!')

In [27]:
d = Dog()

Dog created
animal created

In [ ]:
d.